# Compiled Object files
*.slo
*.lo
*.o
*~
# Compiled Dynamic libraries
*.so
*.os
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# tags and cscope
cscope*
tags
#rawdata,plots,results,excutefile
*.dat
*.bin
*.frd
*.root
*.eps
*.pdf
*.C~
*.exe
*.cc~
# User special
documents
geant4_workdir
dmpsw_workdir
main
tmp
.*
!.vimrc
!.vim
!.zprofile
!.zshrc
!.gitconfig
.vim/back
.vim/bundle
.scon*
*.error
#.Trash
#.bash*
#.emacs*
#.root*
#.viminfo
#.Xauthority
#.Xdefaults
#.dbus
#.g4_hist
#.gconfd
#.gnome2
#.history
#.proof
#.recently-used.xbel
#.ssh
#.subversion
#.zcompdump
#.zhistory

software/build
software/download
software/*_v*
Desktop
Downloads

